@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital@0;1&family=Urbanist:ital@0;1&display=swap');

* {
    box-sizing: border-box;
}
:root {
    --primary-color: #398293;
    --secondary-color: #F6EEDF;
    --accent-one-color: #659EA4;
    --accent-two-color: #EEDFD2;
}

/* ----------- EIDTS FOR THE BODY OF THE WEBSITE ----------- */
body {
    margin: 0;
    font-family: GFS Neohellenic, Helvetica, sans-serif;
}

/* ---------- BANNER MESSAGE ---------- */
.banner {
    background-color: var(--primary-color);
}
.banner-content {
    padding: 16px;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.banner-text {
    flex-grow: 1;
    line-height: 1.4;
    font-family: GFS Neohellenic, Helvetica, sans-serif;
    color: var(--secondary-color);
    font-size: 1.5rem;
}
.banner-exit {
    background: none;
    border: none;
    cursor: pointer;
}

/* ----------- HEADER ---------- */
header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-family: Urbanist, Arial, Helvetica, sans-serif;
}

/* ----------- MENU ----------- */
.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.25rem;
}
.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--secondary-color);
    
}

.navigation a:hover
{
    background-color: var(--secondary-color);
    color: var(--primary-color);
} 
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {
    text-align: left;
}
.open a {
    display: block;
    
}

/* ---------- MENU BUTTON ---------- */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    position: absolute;
    right: 0;
    top: 1em;
    
}
#menu::before {
    content: "☰";
}
#menu.opem::before {
    content: "─";
}

/* ---------- MAIN ---------- */
#home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
#home section{
    padding: 20px;
    width: 100%;
    color: var(--primary-color);
}
#home h2 {
    font-family: Urbanist, Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
}


/* ---------- HERO IMAGE ---------- */
.hero {
    position: relative;
    height: auto;
    grid-column: 1/3;
}
.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

/* ---------- CALL TO ACTION ---------- */
.call-to-action {
    position: absolute;
    background-color: var(--secondary-color);
    padding: 1rem;
    margin: 30px;
    border-radius: 10px;
}
.call-to-action a {
    margin: 0;
    padding: .25rem;
    font-weight: 550;
    font-size: 1rem;
    color: var(--primary-color);
    text-decoration: none;
    
}

/* ---------- SUMMARY OF RENTALS ---------- */
.rentals {
    border: 5px solid var(--accent-one-color);
    border-radius: 10px;
    width: 100%;
    grid-column: 1/3;
    grid-row: 2/4;
    text-align: center;
}

.rentals img {
    align-content: center;
}
.rentals p {
    text-align: left;
}

 /* --------- WEATHER --------- */
 .weather {
    
    border: 5px solid var(--accent-one-color);
    border-radius: 10px;
    width: 100%;
    grid-column: 1/3;
    text-align: center;
    
}


/* --------- CONTACT INFO SECTION --------- */
.contact-info{
    width: 100%;
    grid-column: 1/3;
    border: 5px solid var(--accent-one-color);
    border-radius: 10px;
    text-align: center;
    padding-right: 10px;
}

.contact-info ul {
    list-style: none;
}


/* ---------- FOOTER ----------- */
footer {
    margin: auto;
    background-color: var(--secondary-color);
    text-align: center;
    color: var(--primary-color);
    padding: 10px;
}
.site-plan {
    text-decoration: none;
    color: var(--primary-color);
}



/* ---------------------------- RENTAL PAGE ------------------------------ */
#rental {
    font-family: GFS Neohellenic, Helvetica, sans-serif;
}

#rental table {
    border-collapse: collapse;
    border:  2px solid var(--primary-color);
    letter-spacing: 1px;
    
}


#rental th {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    
    font-weight: bold;
    border: 2px solid var(--accent-one-color);
    
    padding: 5px 5px;
}
#rental td {
    text-align: center;
    font-weight: bold;
    
    border: 2px solid var(--accent-one-color);
    
    text-align: center;
}
#rental img {
    align-content: center;
    width: 100%;
}

#rental tr:first-child th{

    color: var(--primary-color);
}

/* ---------------------------- RESERVATION PAGE ------------------------------ */
#reservation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 25px;
}

.rf1 {
    
    grid-column: 1/3;
    border: solid 5px var(--primary-color);
    border-radius: 10px;
}

.agreement {
    grid-column: 1/3;
}

.rf1 fieldset {
    margin: 2rem 0;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    padding: .5rem 2%;
    text-align: left;
    width: 95%;
    margin: 10px;
}

.rf1 legend {
    color: var(--primary-color);
    padding: 0 .5rem;
    font-size: 1.5rem;
}

.rf1 label {
    display: block;
    padding-top: 1rem;
    color: var(--primary-color);
    font-size: 1.15rem;
}

.rf1 div {
    padding-top: 1rem;
    color: var(--primary-color);
    font-size: 1.15rem;
}

.rf1 input[type="text"],
.rf1 input[type="email"],
.rf1 input[type="tel"],
.rf1 input[type="date"]
{
    display: block;
    border: solid 1px var(--accent-one-color);
    border-radius: 5px;
    padding: .50rem;
    color: var(--primary-color);
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.rf1 textarea {
    display: block;
    border: solid 1px var(--accent-one-color);
    border-radius: 5px;
    padding: .75rem;
    color: var(--primary-color);
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.rf1 input[type="submit"]
{
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    padding: .8rem;
    width: 100%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    margin: 5px;
}
.rf1 input:required {
    border-right: solid 8px red;
}
.rf1 input:required:valid {
    border-right: solid 8px green;
}

#reservation section{
    border: 5px solid var(--primary-color);
    border-radius: 10px;
    text-align: center;
    color: var(--primary-color);
}
.agreement ul {
    list-style: none;
}
.agreement li {
    text-align: left;
}
.agreement h2 {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/* ---------------------------- CONTACT PAGE ------------------------------ */
#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 35px;
}
#contact h2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
#contact .rf1 {
    grid-column: 1/3;
}
.general-info {
    border: 5px solid var(--primary-color);
    border-radius: 10px;
    text-align: center;
    grid-column: 1/3;
}
.general-info ul {
    list-style: none;
}
.general-info li {
    list-style: none;
    padding-right: 40px;
}
.map {
    border: 5px solid var(--primary-color);
    border-radius: 10px;
    grid-column: 1/3;
    text-align: center;
    
}
iframe {
    width: 100%;
}

/* ---------------------------- THANK YOU PAGE ------------------------------ */
#thank-you div {
    border: 5px solid var(--primary-color);
    border-radius: 10px;
    margin: 50px;
    padding: 15px;
}
