@media only screen and (min-width: 1500px){
    /* ---------- BANNER MESSAGE ---------- */
    .banner-content {
        max-width: 300px;
    }
    .banner-text {
        font-size: 1.5rem;
    }

    /* ----------- HEADER ---------- */
	h1 {
		font-size: 3rem;
	}
    /* ----------- MENU ----------- */
    .navigation {
		flex-direction: row;
		justify-content: space-around;
		font-size: 1.5rem;
	}
    .navigation a {
		display: block;
		flex: 1 1 100%;
	}
    nav ul {
		display: flex;	
	}

	/* ---------- MENU BUTTON ---------- */
	#menu {
		display: none; /* hide hamburger button */
	}

    /* ---------- MAIN ---------- */
	#home section{
		font-size: 1.5rem;
	}

	/* ---------- CALL TO ACTION ---------- */
	.call-to-action {
		
		top: 500px;
		left: 100px;
		padding: 2rem;
	}
	.call-to-action a {
		font-size: 2rem;
	}

	/* ---------- SUMMARY OF RENTALS ---------- */
	.rentals {
		grid-column: 1/2;
	}

	/* --------- WEATHER --------- */
	.weather{
		grid-column: 2/3;
	}
	/* --------- CONTACT INFO SECTION --------- */
	.contact-info{
		grid-column: 2/3;
	}

    /* ---------- FOOTER ----------- */
    footer {
        font-size: 1.5rem;
    }
    /* ---------------------------- RENTAL PAGE ------------------------------ */
    /* #rental table {
        width: 100% ;
        
    } */
    #rental img {
        width: 75%;
    }

    /* ---------------------------- RESERVATION PAGE ------------------------------ */
	.rf1 {
		/* grid-row: 1/2; */
		grid-column: 1/2;
	}
	.agreement {
		grid-column: 2/3;
	}
    .rf1 legend {
		
		font-size: 2rem;
	}
	
	.rf1 label {
		
		font-size: 2rem;
	}
	
	.rf1 div {
	
		font-size: 1.5rem;
	}
    .rf1 input[type="text"],
    .rf1 input[type="email"],
    .rf1 input[type="tel"],
    .rf1 input[type="date"]
    {  
        padding: 1rem;  
        font-size: 1.5rem;
        width: 100%;
        max-width: 1000px;
    }
    
    .rf1 textarea {
        width: 100%;
        max-width: 700px;
        font-size: 1.5rem;
    }
    .rf1 input[type="submit"]
    {
        
        padding: 1rem;
        font-size: 2rem;
        margin: 10px;
        width: 100%;
        max-width: 700px;
        
    }
    #reservation section{
        font-size: 1.5rem;
    }

    /* ---------------------------- CONTACT PAGE ------------------------------ */
    #contact .rf1 {
        grid-column: 1/2;
    }
    .general-info {
        grid-column: 2/3;
    }
}