@import url('https://fonts.googleapis.com/css2?family=Forum&family=Playfair+Display&display=swap');


body {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    font-family: Forum, Halvetica, sans-serif;
  }

p {
    font-family: Playfair Display, Halvetica, sans-serif;
}
nav {
    font-family: Playfair Display, Halvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    padding: 35px;
}
nav a {
    
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px;
}
/* main {
    width: 100%;
} */
.card {
    margin: auto;
    /* width: 50%; */
    border: 2px solid rgb(161, 161, 161);
    margin-bottom: 20px;
    /*border-style: solid;
    height: 400px;
    width: 400px;*/
}
#self {
    width: 20%;
    margin: 30px;
    
    /* display: inline-block; */

}
/* #name {
    vertical-align: middle;
} */
footer {
    margin: auto;
    /* width: 50%; */
    background-color: #a9dbde;
    text-align: center;
    color: #000000;
    padding: 10px;
    
    
}
h3 {
    text-align: center;
    background-color: #a9dbde;
    margin: 0;
    color: #000000;
    padding: 10px;
    
}
h2 {
    margin: auto;
    width: 100%;
    text-align: center;
    
}
/* hr {
    width: 50%;
} */
header {
    background-color: #a9dbde;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul {
    list-style: none;
}
li {
    text-align: left;
}
li a{
    text-decoration: none;
}
